.list-container {
  margin: 20px;
  position: relative;
}

.table-container {
  //position: relative;
  //min-height: 200px;
  //max-height: 400px;
  //overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  max-width: 360px;
  text-align: center;
}


.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.clickable {
  cursor: pointer;
}

.action-group {
  margin-bottom: 20px;
  border: 1px solid red;
}
