
<mat-card class="form-wrapper">
  <mat-card-header>
    <mat-card-title>{{ title }} id: {{admin ? admin.id : 'new' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-input
        [control]="name"
        [label]="'name'"
        [type]="'text'"
        [placeholder]="'qwerty'"
        [errorMessage]="'Please enter a valid email address'"
      ></app-input>

      <app-input
        [control]="email"
        [label]="'email'"
        [type]="'text'"
        [placeholder]="'name@.email.com'"
        [errorMessage]="'Please enter a valid email address'"
      ></app-input>

      <app-input
        [control]="password"
        [label]="'password'"
        [type]="'text'"
        [placeholder]="'qwerty12345'"
        [errorMessage]="''"
      ></app-input>
    </form>
  </mat-card-content>
  <mat-card-actions class="action-group" align="end">
    <button mat-button (click)=onSubmit() type="submit" [disabled]="disable | async">Submit</button>
  </mat-card-actions>

  @if (authErrors) {
    <app-server-status
      [status]="authErrors"
      (reset)="onReset()"
    ></app-server-status>
  }
</mat-card>


<button (click)="generate()">Generate</button>
